{% load static %}
<!DOCTYPE html>
<html>
<head>
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="{% static "lifespan/css/main.css" %}">

</head>
<body>
<div class="content">
    <h1>Lifespan</h1>
    <canvas id="canvas" width="800" height="600"></canvas>
    <div class="selectors">
        <select class="selector-1 country-selector">
        </select>
        <select class="selector-2 country-selector">
        </select>
        <select class="selector-3 country-selector">
        </select>
        <select class="selector-4 country-selector">
        </select>
        <select class="selector-1 year-selector">
        </select>
        <select class="selector-2 year-selector">
        </select>
        <select class="selector-3 year-selector">
        </select>
        <select class="selector-4 year-selector">
        </select>
    </div>
</div>
<script data-main="{% static "lifespan/js/main" %}" src="{% static "lifespan/js/require.js" %}"></script>
</body>
</html>
