body {
    background-color: #073642;
    color: #839496;
    font-family: 'Open Sans', sans-serif;
}
.content {
    margin: auto;
    width: 60%;
}
.selectors {
    display: inline;
}
.selectors select {
    margin: 0 0 0 4%;
    width:20%;

}